{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": ["airbnb", "prettier/react", "eslint:recommended", "plugin:prettier/recommended"],
  "rules": {
    "@typescript-eslint/semi": "off", // 세미콜론 확인 X
    "@typescript-eslint/naming-convention": [
      "error",
      {
        "selector": "variable",
        "format": ["camelCase", "UPPER_CASE", "PascalCase"], // 변수명에 적용할 rule
        "leadingUnderscore": "allow" // underscore(_) 로 시작하는 변수명 허용
      }
    ],
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }]
  }
}