.main-container {
  height: 100%;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;

  .open-schedule-btn {
    position: absolute;
    top: 40px;
    cursor: pointer;
  }
  .schedule {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -100%;
    z-index: 10;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: 0.5s;
  }
  .open {
    top: 0;
    transition: 0.5s;
  }
  h1 {
    margin-bottom: 18px;
    font-size: 44px;
    font-family: 'MaruBuriBold';
    z-index: 1;
  }
  .question {
    height: 100px;
    margin-top: 35px;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: 'MaruBuri';
  }
  .reload-btn {
    padding: 13px;
    border-radius: 7px;
    font-family: 'MaruBuri';
    font-size: 13px;
    color: white;
    background-color: #0097cc;
    &:hover,
    &:active {
      background-color: #007799;
    }
  }
}
